#projectsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectsDisplay-project {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.projectsDisplay-project-name {
  margin-bottom: 0.3rem;
}

.projectsDisplay-project-deployment {
  > span {
    font-size: 0.9rem;
    > span {
      position: relative;
      left: 2px;
      bottom: 1px;
    }
  }
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .projectsDisplay-project {
    width: 40%;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .projectsDisplay-project {
    width: 30%;
  }
}
/* ----- /Breakpoints ----- */